body {
  margin: 0;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.no-scroll {
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Container */
.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

/* Page */
.page {
  display: flex;
  flex-direction: column;

}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 820px;
  position: relative;
  background: #000000 url(../images/Bg.png) center no-repeat;
  margin: 0 auto;
  -webkit-background-size: cover;
  background-size: cover;
}

.navbar__collapse {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 48px;
  color: #FDF9ED;
}

.nambar__nav {
  font-family: "Heebo", sans-serif;
  margin-right: 96px;
  color: #FDF9ED;
  font-size: 21px;
  line-height: 1.6;
  font-weight: 300;
}

.nav__link {
  transition: all .2s;
  margin-left: 33px;
}
.nav__link::before {
  transition: all .2s;
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  height: 3px;
  bottom: -2px;
  right: auto;
}
.nav__link:hover {
  color: #C8A977;
}
.nav__link:hover::before {
  width: 100%;
  right: 0;
  left: auto;
}
.lang {

  margin-right: 27px;
}

.lang_nav {

  font-family: "Heebo", sans-serif;
  color: #FDF9ED;
  font-size: 18px;
  transition: color .1s linear;
}
.lang_nav::before {

  content: "";
  width: 10px;
  height: 2px;
  margin-top: 5px;
  background-color: #C8A977;
  transition: width .1s linear;
  margin-bottom: -10px;
}
.lang_nav:hover {
  color:#C8A977;
}
.lang_nav:hover::before {
  width: 100%;

  background-color: #C8A977;
}
.span {
  color: white;
}
.span::before {
  background-color: #ffffff;
}

/* Nav toggle */
.nav-toggle {
    width: 30px;
    padding: 10px 0;
    display: none;

    font-size: 0;
    color: transparent;

    border: 0;
    background: none;
    cursor: pointer;

    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
}

.nav-toggle:focus {
    outline: 0;
}

.nav-toggle__item {
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fff;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    transition: background .2s linear;
}



.nav-toggle__item:before,
.nav-toggle__item:after {
    content: "";
    width: 100%;
    height: 3px;

    background-color: #fff;

    position: absolute;
    left: 0;
    z-index: 1;

    transition: transform .2s linear;
}

.nav-toggle__item:before {
    top: -8px;
}

.nav-toggle__item:after {
    bottom: -8px;
}




.header__logo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.logo__link {
  display: flex;
  content: "";
  width: 336px;
  height: 336px;
  border-bottom: #746345 1px solid;
  border-radius: 50%;

  background: #746345;
  margin-top: 60px;
  box-shadow: 7px 11px 20.16px 0.84px #182638;
}

.light__logo {
  position: relative;
  margin: 7px 2px 0 5px;
}

.logo__img {
  position: absolute;
  display: flex;
  margin: 0 auto;
  width: 182px;
  height: 270px;
  margin-top: 31px;
  margin-right: 83px;
}

.logo__text {
  text-align: center;
  width: 1111px;
  height: 85px;
  color: #C8A977;
  margin: 78px auto 0;
}

.logo__title {
  font-family: "Heebo", sans-serif;
  font-size: 70px;
  font-weight: 700;
  font-stretch: 10px;
  text-shadow: 4px 7px 8.64px #182638;
}

.logo__inner {
  font-family: "Heebo", sans-serif;
  font-size: 61px;
  font-weight: 400;
  font-stretch: 30px;
  text-shadow: 4px 7px 8.64px #182638;
}

.logo__item {
  font-family: "Heebo", sans-serif;
  font-size: 51px;
  font-weight: 300;
  text-shadow: 4px 7px 8.64px #182638;
}

.logo__item {
  font-stretch: 10px;
}

.location {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 109px;
  background: #1b4a67;
  border-top: 3px solid #C8A977;
  margin-top: -28px;
}

.location__title {
  margin: 0 auto;
  text-align: center;
}

.location__text {
  font-family: "Heebo", sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-stretch: 10px;
  color: #C8A977;
  margin-bottom: 5px;
}

.location__info {
  display: flex;
  text-align: center;
  margin-right: 15px;
}

.location__input {
  width: 268px;
  height: 42px;
  border-radius: 10px;
  background: #ffffff;
  border-width: 0;
  font-family: "Heebo", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #666666;
  padding-right: 15px;
}

.btn {
  width: 268px;
  height: 42px;
  font-family: "Heebo", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-width: 0;
  background: #C8A977;
}

.btn__brow {
  width: 526px;
  height: 81px;
  font-family: "Heebo", sans-serif;
  font-size: 46px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 10px;
  border-width: 0;
  background: #C8A977;
  margin-right: 110px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 52px;
  width: 100%;
  height: 720px;
  display: flex;
}

.about__inner {
  margin-top: 0 auto;

  height: 700px;
  width: 100%;
  background: #0B263B url("../images/about/about.png");
  background-position: left -10px, right -10px;
  border-top: #0B263B 6px solid;
  -webkit-background-size: cover;
  background-size: cover;
}

.about__title {
  text-align: center;
  color: #C8A977;
}

.about__paragraf {
  margin-top: 20px;
  font-family: "Heebo", sans-serif;
  font-weight: 300;
  font-size: 72px;
}

.about__text {

  font-family: "Rubik", sans-serif;
  font-size: 27px;
  font-weight: 200;
  color: #ffffff;
  text-align: center;
}

.cards {
  margin-top: 40px;
}

.cards__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__inner {
  width: 344px;
  height: 344px;
  background-color: #BEA779;
  border-radius: 10px;
  margin-right: 60px;
  background-image: url("../images/card/gr.svg");
  background-repeat: no-repeat;
  background-position: left 1px bottom 1px, right 1px bottom 1px;
  border-width: 0;
  position: relative;
}

.card__text {
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #ffffff;
  position: relative;
  padding: 50px 0 34px 0;
  border-bottom: #ffffff 2px solid;
  border-image: linear-gradient(to right, #b7a174, #ffffff, #ffffff, #b7a174) 30% 0%;
}

.card__img {
  margin-top: 4px;
  height: 108px;
  width: 351px;
  background: url("../images/card/gr_black.png");
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.card__images {
  position: absolute;
  margin-bottom: -135px;
  width: 90%;

}
.card__plant {
  top: 22px;
}

.bg__images {
  position: relative;
  bottom: -250px;
}

.works {
  display: flex;
  justify-content: center;

}

.works__container {
  margin: 15px 0;
}

.works__title {
  font-family: "Heebo", sans-serif;
  font-size: 72px;
  font-weight: 700;
  font-stretch: 10px;
  color: #182635;
  padding-top: 150px;
  text-align: center;
  margin: 0 auto;
}

.works__inner {
  height: 664px;
  width: 100%;
}

.works__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work__img {
  height: 664px;
  width: 634px;
}

.img__slid {
  width: 506px;
  margin-left: 12px;
}

.img__container {
  width: 1074px;
  height: 664px;
}

.works__info {
  width: 746px;
  height: 664px;
  background: #746345;
  margin-right: 12px;
}

.works__info__botton {
  width: 830px;
  height: 100%;
  background: #746345;
  margin-left: 12px;
}

.work__text {
  color: #ffffff;
  padding-right: 22px;
}

.work__text__bottom {
  margin-right: 100px;
}

.slider__title--top {
  font-family: "Heebo", sans-serif;
  font-size: 36px;
  font-weight: 300;
  font-stretch: 10px;
  margin-top: 100px;
}

.slider__text--top {
  font-family: "Heebo", sans-serif;
  font-size: 30px;
  font-weight: 300;
  font-stretch: 10px;
  margin-top: 23px;
}

.slider__inner--bottom {
  font-family: "Heebo", sans-serif;
  font-size: 36px;
  font-weight: 300;
  font-stretch: 10px;
  margin-top: 150px;
}

.slider__text--bottom {
  font-family: "Heebo", sans-serif;
  font-size: 30px;
  font-weight: 300;
  font-stretch: 10px;
  margin-top: 33px;
}

.slider__text--info {
  font-family: "Heebo", sans-serif;
  font-size: 30px;
  font-weight: 300;
  font-stretch: 10px;
  margin-top: 56px;
}

.slider__button {
  width: 85px;
  height: 85px;
  margin-right: 550px;
  margin-bottom: 44px;
}

.works__button {
  width: 85px;
  height: 85px;
  margin-right: 550px;
  margin-top: 215px;
  margin-bottom: 44px;
}

.works__container {
  position: relative;
}

.img__bg {
  position: absolute;
  margin-top: 10px;
}

.address__title {
  font-family: "Heebo", sans-serif;
  font-size: 72px;
  font-weight: 700;
  font-stretch: 10px;
  color: #182635;
  padding-top: 60px;
  text-align: center;
  margin: 0 auto;
}

.address__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address__info {
  margin-bottom: 10px;
}

.address__form {
  width: 40%;
  height: 630px;
  background: #746345;
  margin-bottom: 10px;
  margin-right: 15px;
}

.address__box {
  margin-top: 113px;
}

.form__group {
  margin-bottom: 30px;
  margin-right: 110px;
}

.input {
  display: block;
  background: none;
  width: 526px;
  height: 81px;
  border-radius: 10px;
  background: #ffffff;
  border-width: 0;
  font-family: "Heebo", sans-serif;
  font-size: 31px;
  font-weight: 300;
  color: #666666;
  line-height: 16px;
  padding-right: 37px;
}

.bg__footer {
  position: absolute;
}

.footer {
  height: 110px;
  background: #1B4A67;
  margin-bottom: 80px;
}

.footer__collapse {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 48px;
  color: #FDF9ED;
}

.footer__nav {
  font-family: "Heebo", sans-serif;
  margin-right: 96px;
  color: #FDF9ED;
  font-size: 30px;
  line-height: 1.6;
  font-weight: 300;
  margin-top: 28px;
}

.footer__link {
  margin-left: 33px;
}

.footer__lang {
  margin-right: 27px;
  margin-top: 28px;
}

.footer_nav {
  font-family: "Heebo", sans-serif;
  color: #FDF9ED;
  font-size: 30px;
}

.footer__link--logo {
  position: absolute;
  display: flex;
  content: "";
  width: 208px;
  height: 208px;
  border-bottom: #746345 1px solid;
  border-radius: 50%;
  background: #746345;
  margin-top: -80px;
  margin-right: 500px;
}

.light__footer {
  position: relative;
  margin: 0;
}

.logo__img--footer {
  position: absolute;
  display: flex;
  margin: 0 auto;
  width: 104px;
  height: 155px;
  margin-top: 23px;
  margin-right: 53px;
}


/* Media Queries */

@media (max-width: 1600px) {

  .container {
    max-width: 1600px;
  }
  .about {
    margin-top: 52px;
  }

  .about__inner {
    background-position: 100%;
    height: 600px;
    margin-top: -65px;
  }

  .about__paragraf {
    margin-top: 10px;
    font-size: 72px;
  }
  .about__text {
    font-size: 24px;
  }

  .cards {
    margin-top: 30px;
  }
  .card__inner {
    width: 350px;
    height: 350px;
    margin-right: 30px;
  }
  .card__img {
    margin-top: 4px;
    height: 108px;
    width: 350px;
  }
  .card__images {
    right: 5px;
    margin-bottom: -135px;
    width: 90%;
  }
  .card__plant {
    top: 25px;
  }
  .bg__images {
    bottom: -250px;
  }

  .works__container {
    margin: 15px 0;
  }
  .works__title {
    padding-top: 80px;
  }

  .works__inner {
    height: 550px;
    width: 30%;
  }
  .work__img {
    height: 550px;
    width: 600px;
  }
  .img__slid {
    width: 450px;
    margin-left: 12px;
  }
  .img__container {
    width: 1000px;
    height: 550px;
  }
  .works__info {
    width: 600px;
    height: 550px;
    margin-right: 12px;
  }
  .works__info__botton {
    width: 600px;
    height: 550px;
    margin-left: 12px;
  }
  .work__text {
    padding-right: 15px;
    width: 600px;
  }
  .slider__title--top {
    font-size: 32px;
    margin-top: 100px;
  }
  .slider__text--top {
    font-size: 28px;
    margin-top: 15px;
  }
  .slider__text--info {
    font-size: 28px;
    margin-top: 28px;
  }
  .slider__button {
    width: 80px;
    height: 80px;
    margin-right: 400px;
    margin-bottom: 30px;
  }
  .slider__inner--bottom {
    font-size: 36px;
    margin-top: 100px;
  }
  .slider__text--bottom {
    font-size: 28px;
    margin-top: 33px;
  }
  .works__button {
    width: 80px;
    height: 80px;
    margin-right: 420px;
    margin-top: 150px;
    margin-bottom: 44px;
  }
  .work__text__bottom {
    margin-right: 50px;
  }
  .img__bg {
    margin-top: 10px;
  }
  .address__title {
    font-size: 72px;
    padding-top: 50px;
  }
  .address__info {
    margin-bottom: 10px;
  }
  .address__img {
    width: 900px;
    height: 450px;
  }
  .address__form {
    width: 685px;
    height: 450px;
    margin-bottom: 10px;
    margin-right: 15px;
  }
  .btn__brow {
    width: 526px;
    height: 65px;
    font-size: 24px;
    margin-right: 90px;
  }
  .address__box {
    margin-top: 70px;
  }
  .form__group {
    margin-bottom: 20px;
    margin-right: 90px;
  }
  .input {
    width: 526px;
    height: 65px;
    font-size: 28px;
    line-height: 16px;
    padding-right: 30px;
  }
  .footer {
    height: 110px;
    margin-bottom: 80px;
    margin-top: 150px;
  }

  .footer__collapse {
    margin-top: 48px;
  }

  .footer__nav {
    margin-right: 96px;
    font-size: 28px;
    line-height: 1.6;
    margin-top: 28px;
  }
  .footer__link {
    margin-left: 33px;
  }
  .footer__lang {
    margin-right: 27px;
    margin-top: 28px;
  }
  .footer_nav {
    font-size: 30px;
  }

  .footer__link--logo {
    width: 208px;
    height: 208px;
    margin-top: -80px;
    margin-right: 300px;
  }
  .light__footer {
    margin: 0;
  }
  .logo__img--footer {
    width: 104px;
    height: 155px;
    margin-top: 23px;
    margin-right: 53px;
  }
}

@media (max-width: 1402px) {

  .container {
    max-width: 1402px;
  }
  .cards {
    margin-top: 30px;
  }
  .card__inner {
    width: 280px;
    height: 280px;
    margin-right: 30px;
  }
  .card__text {
  font-size: 31px;
  padding: 30px 0 24px 0;

}
  .card__img {
    margin-top: 4px;
    height: 108px;
    width: 300px;
  }
  .card__images {
    right: 5px;
    margin-bottom: -105px;
    width: 90%;
  }
  .bg__images {
    bottom: -220px;
  }

  .works__container {
    margin: 15px 0;
  }
  .works__title {
    padding-top: 40px;
  }
  .works__inner {
    height: 450px;
    width: 30%;
  }
  .work__img {
    height: 450px;
    width: 500px;
  }
  .img__slid {
    width: 350px;
    margin-left: 10px;
  }
  .img__container {
    width: 1000px;
    height: 450px;
  }
  .works__info {
    width: 600px;
    height: 450px;
    margin-right: 10px;
  }
  .works__info__botton {
    width: 600px;
    height: 450px;
    margin-left: 10px;
  }
  .work__text {
    padding-right: 10px;
    width: 600px;
  }
  .slider__title--top {
    font-size: 28px;
    margin-top: 70px;
  }
  .slider__text--top {
    font-size: 24px;
    margin-top: 12px;
  }
  .slider__text--info {
    font-size: 24px;
    margin-top: 28px;
  }
  .slider__button {
    width: 60px;
    height: 60px;
    margin-right: 400px;
    margin-bottom: 30px;
  }
  .slider__inner--bottom {
    font-size: 28px;
    margin-top: 80px;
  }
  .slider__text--bottom {
    font-size: 24px;
    margin-top: 33px;
  }
  .works__button {
    width: 60px;
    height: 60px;
    margin-right: 420px;
    margin-top: 150px;
    margin-bottom: 44px;
  }
  .work__text__bottom {
    margin-right: 50px;
  }
  .img__bg {
    margin-top: 10px;
  }
  .address__title {
    font-size: 72px;
    padding-top: 40px;
  }
  .address__info {
    margin-bottom: 10px;
  }
  .address__img {
    width: 700px;
    height: 450px;
  }
  .address__form {
    width: 685px;
    height: 450px;
    margin-bottom: 10px;
    margin-right: 15px;
  }
  .btn__brow {
    width: 450px;
    height: 65px;
    font-size: 28px;
    font-weight: 700;
    margin-right: 100px;
  }
  .address__box {
    margin-top: 70px;
  }
  .form__group {
    margin-bottom: 20px;
    margin-right: 100px;
  }
  .input {
    width: 450px;
    height: 65px;
    font-size: 28px;
    line-height: 16px;
    padding-right: 30px;
  }
  .footer {
    height: 110px;
    margin-bottom: 50px;
    margin-top: 100px;
  }

  .footer__collapse {
    margin-top: 48px;
  }

  .footer__nav {
    margin-right: 96px;
    font-size: 24px;
    line-height: 1.6;
    margin-top: 28px;
  }
  .footer__link {
    margin-left: 33px;
  }
  .footer__lang {
    margin-right: 27px;
    margin-top: 28px;
  }
  .footer_nav {
    font-size: 28px;
  }

  .footer__link--logo {
    width: 150px;
    height: 150px;
    margin-top: -50px;
    margin-right: 200px;
  }
  .mini__logo {
    width: 150px;
    height: 150px;
  }
  .logo__img--footer {
    width: 80px;
    height: 105px;
    margin-top: 20px;
    margin-right: 38px;
  }
}

@media (max-width: 1365px) {

  .container {
    width: 100%;
    max-width: 1365px;
  }
  .navbar__collapse {
    margin-top: 32px;
  }
  .nambar__nav {
    margin-right: 50px;
  }
  .nav__link {
    margin-left: 31px;
  }
  .lang {
    margin-right: 24px;
  }
  .lang_nav {
    font-size: 16px;
  }
  .header__logo {
    margin-top: 50px;
  }
  .logo__link {
    width: 250px;
    height: 250px;
    margin-top: 80px;
    box-shadow: 5px 8px 10.16px 0.84px #182638;
  }
  .light__logo {
    margin: 5px 2px 0 5px;
  }
  .logo__bgr {
    width: 250px;
    height: 250px;
  }
  .logo__img {
    width: 130px;
    height: 220px;
    margin-top: 11px;
    margin-right: 53px;
  }
  .logo__text {
    width: 950px;
    height: 85px;
    margin: 60px auto 0;
  }
  .logo__title {
    font-size: 72px;
    margin-top: 80px;
  }
  .logo__inner {
    font-size: 51px;
  }
  .logo__item {
    font-size: 42px;
  }
  .location {
    width: 100%;
    height: 109px;
    border-top: 2px solid #C8A977;
    margin-top: -28px;
  }
  .location__text {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .location__info {
    margin-right: 15px;
  }
  .location__input {
    width: 200px;
    height: 42px;
  }
  .btn {
    width: 200px;
    height: 42px;
  }

  .btn__brow {
    width: 526px;
    height: 81px;

    font-size: 46px;
    margin-right: 110px;
  }

  .about {
  margin-top: -28px;
  width: 100%;
  height: 600px;
  display: flex;
  }

  .about__inner {
    background-position: 40%;
    margin: 0 auto;
    height: 400px;
    margin-top: -15px;
  }

  .about__paragraf {
    margin-top: 10px;
    font-size: 60px;
  }
  .about__text {
    font-size: 18px;
  }
  .cards {
    margin-top: 10px;
  }
  .card__inner {
    width: 200px;
    height: 200px;
    margin-right: 30px;
  }
  .card__text {
  font-size: 24px;
  padding: 20px 0 24px 0;

  }
  .card__plant {
    top: 10px;
  }
  .card__img {
    margin-top: 4px;
    height: 108px;
    width: 200px;
  }
  .card__images {
    right: 5px;
    margin-bottom: -25px;
    width: 90%;
  }
  .bg__images {
    bottom: -95px;
    width: 200px;
    height: 60px;
  }


  .works__container {
    margin: 10px 0;
  }
  .works__title {
    font-size: 50px;
    padding-top: 10px;
    margin: 0 auto;
  }
  .works__inner {
    height: 350px;
    width: 100%;
  }
  .work__img {

    height: 350px;
    width: 400px;
  }


  .img__slid {
    display: none;
    width: 300px;
    margin-left: 10px;
  }
  .img__container {
    width: 900px;
    height: 350px;
  }

  .works__info {
    width: 600px;
    height: 350px;
    margin-right: 10px;
  }
  .works__info__botton {
    width: 500px;
    height: 350px;
    margin-left: 10px;
  }
  .work__text {
    padding-right: 10px;
    width: 500px;
  }
  .slider__title--top {
    font-size: 28px;
    margin-top: 30px;
    margin-right: 50px;
  }
  .slider__text--top {
    font-size: 18px;
    margin-top: 20px;
    margin-right: 50px;
  }
  .slider__text--info {
    font-size: 18px;
    margin-top: 28px;
    margin-right: 50px;
  }
  .slider__button {
    width: 50px;
    height: 50px;
    margin-right: 400px;
    margin-bottom: 50px;
  }

  .slider__text--bottom {
    font-size: 22px;
    margin-top: 33px;
  }
  .works__button {
    width: 50px;
    height: 50px;
    margin-right: 350px;
    margin-top: 50px;
    margin-bottom: 44px;
  }
  .work__text__bottom {
    margin-right: 50px;

  }
  .img__bg {
    margin-top: 10px;
    width: 1000px;
  }
  .address__title {
    font-size: 60px;
    padding-top: 40px;
  }
  .address__info {
    margin-bottom: 10px;
  }
  .address__img {
    width: 520px;
    height: 380px;
  }
  .address__form {
    width: 520px;
    height: 380px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .btn__brow {
    width: 300px;
    height: 55px;
    font-size: 24px;
    font-weight: 700;
    margin-right: 70px;
  }
  .bg__footer {
    width: 900px;
  }
  .address__box {
    margin-top: 50px;
  }
  .form__group {
    margin-bottom: 20px;
    margin-right: 70px;
  }
  .input {
    width: 300px;
    height: 55px;
    font-size: 24px;
    line-height: 16px;
    padding-right: 20px;
  }
  .footer {
    height: 110px;
    margin-bottom: 50px;
    margin-top: 100px;
  }

  .footer__collapse {
    margin-top: 40px;
  }

  .footer__nav {
    margin-right: 75px;
    font-size: 24px;
    line-height: 1.6;
    margin-top: 28px;
  }
  .footer__link {
    margin-left: 20px;
    font-size: 16px;
  }
  .footer__lang {
    margin-right: 22px;
    margin-top: 28px;
  }
  .footer_nav {
    font-size: 16px;
  }

  .footer__link--logo {
    width: 150px;
    height: 150px;
    margin-top: -50px;
    margin-right: 90px;
  }
  .mini__logo {
    width: 150px;
    height: 150px;
  }
  .logo__img--footer {
    width: 80px;
    height: 105px;
    margin-top: 20px;
    margin-right: 38px;
  }
}


@media (max-width: 850px) {

  .container {
    width: 100%;
    max-width: 850px;
  }
  .navbar__collapse {

    margin-top: 32px;
    position: relative;
  }
  .nambar__nav {

    display: none;
    margin-right: 0;
    width: 800px;
    top: 100%;
    position: absolute;
    z-index: 1000;

    background-color: #1b4a67;
  }
  .nambar__nav.active {
    display: block;
  }
  .nav__link {
    display: block;
    margin: 0;
    padding: 5px 20px;
    width: 200px;
    margin-left: 31px;
  }
  .nav-toggle {
    display: block;
  }
  .langs {
    display: flex;
    justify-content: space-between;
  }
  .nav-toggle {
    top: -5px;
  }
  .lang {
    display: flex;

    margin-right: 550px;

  }
  .lang_nav {
    font-size: 24px;
  }
  .header__logo {
    margin-top: 50px;
  }
  .logo__link {
    width: 250px;
    height: 250px;
    margin-top: 80px;
    box-shadow: 5px 8px 10.16px 0.84px #182638;
  }
  .light__logo {
    margin: 5px 2px 0 5px;
  }
  .logo__bgr {
    width: 250px;
    height: 250px;
  }
  .logo__img {
    width: 130px;
    height: 220px;
    margin-top: 11px;
    margin-right: 53px;
  }
  .logo__text {
    width: 650px;
    height: 85px;
    margin: 60px auto 0;
  }
  .logo__title {
    font-size: 51px;
    margin-top: 150px;
  }
  .logo__inner {
    font-size: 38px;
  }
  .logo__item {
    font-size: 28px;
  }
  .location {
    width: 100%;
    height: 109px;
    border-top: 2px solid #C8A977;
    margin-top: -28px;
  }
  .location__text {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .location__info {
    margin-right: 15px;
  }
  .location__input {
    width: 150px;
    height: 42px;
  }
  .btn {
    width: 150px;
    height: 42px;
  }

  .btn__brow {
    width: 426px;
    height: 81px;

    font-size: 46px;
    margin-right: 110px;
  }

  .about {
    margin-top: -28px;
    width: 100%;
    height: 600px;
    display: flex;
  }

  .about__inner {
    background-position: 40%;
    margin: 0 auto;
    height: 400px;
    margin-top: -10px;
  }

  .about__paragraf {
    margin-top: 10px;
    font-size: 48px;
  }
  .about__text {
    font-size: 14px;
  }
  .cards {
    margin-top: 10px;
  }
  .card__inner {
    width: 150px;
    height: 200px;
    margin-right: 10px;
  }
  .card__text {
  font-size: 18px;
  padding: 20px 0 24px 0;

  }
  .card__plant {
    top: 40px;
  }
  .card__img {
    margin-top: 4px;
    height: 108px;
    width: 150px;
  }
  .card__images {
    right: 5px;
    margin-bottom: -25px;

  }
  .bg__images {
    bottom: -95px;
    width: 200px;
    height: 60px;
  }


  .works__container {
    margin: 10px 0;
  }
  .works__title {
    font-size: 48px;
    padding-top: 10px;
    margin: 0 auto;
  }
  .works__inner {
    height: 300px;
    width: 100%;
  }
  .work__img {
    height: 300px;
    width: 300px;
  }
  .img__slid {
    display: none;
    width: 300px;
    margin-left: 10px;
  }
  .img__container {
    width: 600px;
    height: 300px;
  }
  .works__info {
    width: 600px;
    height: 300px;
    margin-right: 10px;
  }
  .works__info__botton {
    width: 400px;
    height: 300px;
    margin-left: 10px;
  }
  .work__text {
    padding-right: 10px;
    width: 400px;
  }
  .slider__title--top {
    font-size: 18px;
    margin-top: 30px;
    margin-right: 50px;
  }
  .slider__text--top {
    font-size: 16px;
    margin-top: 20px;
    margin-right: 50px;
  }
  .slider__text--info {
    font-size: 16px;
    margin-top: 28px;
    margin-right: 50px;
  }
  .slider__button {
    width: 40px;
    height: 40px;
    margin-right: 300px;
    margin-bottom: 50px;
  }
  .slider__inner--bottom {
    font-size: 24px;
    margin-right: 5px;
  }
  .slider__text--bottom {
    font-size: 22px;
    margin-top: 20px;
  }
  .works__button {
    width: 40px;
    height: 40px;
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom: 44px;
  }
  .work__text__bottom {
    margin-right: 30px;

  }
  .img__bg {
    margin-top: 10px;
    width: 800px;
  }
  .address__title {
    font-size: 48px;
    padding-top: 40px;
  }
  .address__info {
    margin-bottom: 10px;
  }
  .address__img {
    display: none;
    width: 520px;
    height: 380px;
  }
  .address__form {
    width: 820px;
    height: 380px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .btn__brow {
    width: 550px;
    height: 55px;
    font-size: 24px;
    font-weight: 700;
    margin-right: 70px;
  }
  .bg__footer {
    width: 700px;
  }
  .address__box {
    margin-top: 50px;
  }
  .form__group {
    margin-bottom: 20px;
    margin-right: 70px;
  }
  .input {
    width: 550px;
    height: 55px;
    font-size: 24px;
    line-height: 16px;
    padding-right: 20px;
  }
  .footer {
    height: 80px;

    margin-bottom: 40px;
    margin-top: 80px;
  }

  .footer__collapse {
    margin-top: 20px;
  }

  .footer__nav {
    margin-right: 75px;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 28px;
  }
  .footer__link {
    margin-left: 10px;
    font-size: 16px;
  }
  .footer__lang {
    display: none;
    margin-right: 18px;
    margin-top: 28px;
  }
  .footer_nav {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 16px;
  }

  .footer__link--logo {
    width: 150px;
    height: 150px;
    margin-top: -65px;
    margin-right: 30px;
  }
  .mini__logo {
    width: 150px;
    height: 150px;
  }
  .logo__img--footer {
    width: 80px;
    height: 105px;
    margin-top: 20px;
    margin-right: 38px;
  }
}


